h1{
	color:#000080;
}
div{
	font-family:HG行書体,monospace;	/*文字タイプを変更*/
	font-size:large;
}

A:link { color: #0000ff }   /* リンク */
A:visited {                 /* 既に見たリンク */
  color: #ff1493;
  text-decoration: none     /* 下線を消す */
}
A:active { color: #00ff00 } /* クリック時のリンク */
A:hover {                   /* カーソルが上にある時のリンク */
  color: #ff0000;
  text-decoration: none     /* 下線を消す */
}

/*------------------------------------------------------------*/
/*最上部のタイトル用*/
.title{
	padding-top:20px;
	padding-left:35%;
	border-width:5px;
	border-color:red;
	border-style:groove;
	background-color:gray;
	max-width: 1024px; /* 最大幅 */
	min-width: 240px; /* 最小幅 */
	height:100px;
	font-size:xx-large;
	color:#000080;
}

/*カテゴリ用*/
.category{
	padding-left:200px;
	padding-top:10px;
	font-size:x-large;
	border-style:solid;
	border-color:#000000;
	border-width:5px;
	background-color:#000033;
	color:white;
	width:1020px;
	height:100px;

}

